In [1]:
# Exercise 1A: Create a string made of the first, middle and last character

str1 = 'James'
print("Original String is", str1)

res = str1[0]

l = len(str1)
mi = int(l / 2)
res = res + str1[mi]

res = res + str1[l - 1]

print("New String:", res)

Original String is James
New String: Jms

In [2]:
# Exercise 1B: Create a string made of the middle three characters

def get_middle_three_chars(str1):
    print("Original String is", str1)

    mi = int(len(str1) / 2)

    res = str1[mi - 1:mi + 2]
    print("Middle three chars are:", res)

get_middle_three_chars("JhonDipPeta")
get_middle_three_chars("JaSonAy")

Original String is JhonDipPeta
Middle three chars are: Dip
Original String is JaSonAy
Middle three chars are: Son

In [3]:
# Exercise 3: Create a new string made of the first, middle, and last characters of each input string

def mix_string(s1, s2):
    first_char = s1[0] + s2[0]

    middle_char = s1[int(len(s1) / 2):int(len(s1) / 2) + 1] + s2[int(len(s2) / 2):int(len(s2) / 2) + 1]

    last_char = s1[len(s1) - 1] + s2[len(s2) - 1]

    res = first_char + middle_char + last_char
    print("Mix String is ", res)

s1 = "America"
s2 = "Japan"
mix_string(s1, s2)

Mix String is  AJrpan

In [6]:
# Exercise 4: Arrange string characters such that lowercase letters should come first

string = 'PyNaTive'

lower = ""
upper = ""
for i in string:
  if i.islower():
    lower += i
  elif i.isupper():
    upper += i

print(lower + upper)

yaivePNT

In [8]:
# Exercise 5: Count all letters, digits, and special symbols from a given string

string = "P@#yn26at^&i5ve"

chars = 0
digits = 0
symbol = 0

for i in string:
  if i.isalpha():
    chars += 1
  elif i.isdigit():
    digits += 1
  else:
    symbol += 1

print(f'''Total counts of chars, digits, and symbols

Chars = {chars}
Digits = {digits}
Symbol = {symbol} ''')

Total counts of chars, digits, and symbols

Chars = 8
Digits = 3
Symbol = 4

In [9]:
# Exercise 6: Create a mixed String using the following rules
# Given two strings, s1 and s2.
# Write a program to create a new string s3 made of the first char of s1,
# then the last char of s2, Next,
# the second char of s1 and second last char of s2, and so on.
# Any leftover chars go at the end of the result.

s1 = "Abc"
s2 = "Xyz"

s1_length = len(s1)
s2_length = len(s2)

length = s1_length if s1_length > s2_length else s2_length
result = ""

s2 = s2[::-1]

for i in range(length):
    if i < s1_length:
        result = result + s1[i]
    if i < s2_length:
        result = result + s2[i]

print(result)

AzbycX

In [10]:
# Exercise 7: String characters balance Test

def string_balance_test(s1, s2):
    flag = True
    for char in s1:
        if char in s2:
            continue
        else:
            flag = False
    return flag


s1 = "Yn"
s2 = "PYnative"
flag = string_balance_test(s1, s2)
print("s1 and s2 are balanced:", flag)

s1 = "Ynf"
s2 = "PYnative"
flag = string_balance_test(s1, s2)
print("s1 and s2 are balanced:", flag)

s1 and s2 are balanced: True
s1 and s2 are balanced: False

In [12]:
# Exercise 8: Find all occurrences of a substring in a given string by ignoring the case

str1 = "Welcome to USA. usa awesome, isn't it?"
sub_string = "USA"

temp_str = str1.lower()

count = temp_str.count(sub_string.lower())
print("The USA count is:", count)

The USA count is: 2

In [16]:
# Exercise 9: Calculate the sum and average of the digits present in a string

input_str = "PYnative29@#8496"
total = 0
cnt = 0
for char in input_str:
    if char.isdigit():
        total += int(char)
        cnt += 1

avg = total / cnt
print("Sum is:", total, "Average is ", avg)

Sum is: 38 Average is  6.333333333333333

In [17]:
# Exercise 10: Write a program to count occurrences of all characters within a string

from collections import Counter

str1 = "Apple"

print(Counter(str1))

Counter({'p': 2, 'A': 1, 'l': 1, 'e': 1})

In [18]:
# Exercise 11: Reverse a given string

str1 = "PYnative"

print(str1[::-1])

evitanYP

In [23]:
# Exercise 12: Find the last position of a given substring

import re

str1 = "Emma is a data scientist who knows Python. Emma works at google."

print("Original String is:", str1)

index = str1.rfind("Emma")
print("Last occurrence of Emma starts at index:", index)

Original String is: Emma is a data scientist who knows Python. Emma works at google.
Last occurrence of Emma starts at index: 43

In [24]:
# Exercise 13: Split a string on hyphens

str1 = "Emma-is-a-data-scientist"

lst = str1.split("-")

for i in lst:
  print(i)

Emma
is
a
data
scientist

In [26]:
# Exercise 14: Remove empty strings from a list of strings

str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

for i in str_list:
  if i == "" or i is None:
    str_list.remove(i)

str_list

['Emma', 'Jon', 'Kelly', 'Eric']

In [30]:
# Exercise 15: Remove special symbols / punctuation from a string

import re

str1 = "/*Jon is @developer & musician"
print("Original string is ", str1)

# replace special symbols with ''
res = re.sub(r'[^\w\s]', '', str1)
print("New string is ", res)

Original string is  /*Jon is @developer & musician
New string is  Jon is developer  musician

In [32]:
# Exercise 16: Removal all characters from a string except integers

import re

str1 = 'I am 25 years and 10 months old'

res = re.findall(r'\d', str1)

print(''.join(res))

2510

In [36]:
# Exercise 17: Find words with both alphabets and numbers

import re

str1 = "Emma25 is Data scientist50 and AI Expert"

res = re.findall(r'(\w+\d+)', str1)

print(*res)

Emma25 scientist50

In [38]:
# Exercise 18: Replace each special symbol with # in the following string

import string

str1 = '/*Jon is @developer & musician!!'
print("The original string is : ", str1)

# Replace punctuations with #
replace_char = '#'

# string.punctuation to get the list of all special symbols
for char in string.punctuation:
    str1 = str1.replace(char, replace_char)

print("The strings after replacement : ", str1)

The original string is :  /*Jon is @developer & musician!!
The strings after replacement :  ##Jon is #developer # musician##