In [1]:
# Exercise 1: Perform Basic List Operations

my_list = [10, 20, 30, 40, 50]

print(f"Third item:  {my_list[2]}")
print(f"Length of the list: {len(my_list)}")
if my_list == []:
  print('list is empty')
else:
  print('list is not empty')

Third item:  30
Length of the list: 5
list is not empty

In [3]:
# Exercise 2: Perform List Manipulation
# Change Element: Change the second element of a list to 200 and print the updated list.
# Append Element: Add 600 o the end of a list and print the new list.
# Insert Element: Insert 300 at the third position (index 2) of a list and print the result.
# Remove Element (by value): Remove 600 from the list and print the list.
# Remove Element (by index): Remove the element at index 0 from the list print the list.

lst = [10, 20, 30, 40, 50]

lst[1] = 200
print(f"change element: {lst}")
lst.append(600)
print(f"append element: {lst}")
lst.insert(2, 300)
print(f"insert element: {lst}")
lst.remove(600)
print(f'remove element by value: {lst}')
lst.pop(0)
print(f"remove element by index: {lst}")

change element: [10, 200, 30, 40, 50]
append element: [10, 200, 30, 40, 50, 600]
insert element: [10, 200, 300, 30, 40, 50, 600]
remove element by value: [10, 200, 300, 30, 40, 50]
remove element by index: [200, 300, 30, 40, 50]

In [4]:
# Exercise 3: Sum and average of all numbers in a list

my_list = [10, 20, 30, 40, 50]

total_sum = sum(my_list)
ave = total_sum / len(my_list)

print(f"sum: {total_sum}")
print(f"ave: {ave}")

sum: 150
ave: 30.0

In [5]:
# Exercise 4: Reverse a list

list1 = [100, 200, 300, 400, 500]

print(list1[::-1])

[500, 400, 300, 200, 100]

In [7]:
# Exercise 5: Turn every item of a list into its square

numbers = [1, 2, 3, 4, 5, 6, 7]

result = list(map(lambda x: x**2, numbers))

print(result)

[1, 4, 9, 16, 25, 36, 49]

In [8]:
# Exercise 6: Find Maximum and Minimum

data = [8, 2, 15, 1, 9]

print(f"largest: {max(data)}")
print(f"smallest: {min(data)}")

largest: 15
smallest: 1

In [10]:
# Exercise 7: Count Occurrences

sports = ['Cricket', 'Football', 'Hockey', 'Football', 'Tennis']
word = 'Football'
count = 0


for sport in sports:
  if sport == word:
    count += 1

print(f"{word} apears {count} in the list")

Football apears 2 in the list

In [11]:
# Exercise 8: Sort a list of numbers

numbers = [5, 2, 8, 1, 9]

print(f"original list: {numbers}")
print(f"reversed list: {sorted(numbers)}")

original list: [5, 2, 8, 1, 9]
reversed list: [1, 2, 5, 8, 9]

In [14]:
# Exercise 9: Create a copy of a list

original_list = [10, 20, 30]
print("Original list initially:", original_list)

copied_list = original_list[:]

copied_list.append(40)
copied_list[0] = 100

print("Original list after modifying copy:", original_list)
print("Copied list after modification:", copied_list)

Original list initially: [10, 20, 30]
Original list after modifying copy: [10, 20, 30]
Copied list after modification: [100, 20, 30, 40]

In [15]:
# Exercise 10: Combine two lists

list_a = [1, 2]
list_b = [3, 4]

print(list_a + list_b)

[1, 2, 3, 4]

In [16]:
# Exercise 11: Remove empty strings from the list of strings

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

for i in list1:
  if i == "":
    list1.remove(i)

print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [17]:
# Exercise 12: Remove Duplicates from list

list_with_duplicates = [1, 2, 2, 3, 1, 4, 5, 4]
result = []

for i in list_with_duplicates:
  if i not in result:
    result.append(i)

print(result)

[1, 2, 3, 4, 5]

In [18]:
# Exercise 13: Remove all occurrences of a specific item from a list

lst = [5, 20, 15, 20, 25, 50, 20]

for i in lst:
  if i == 20:
    lst.remove(i)

print(lst)

[5, 15, 25, 50]

In [19]:
# Exercise 14: List Comprehension for Numbers

mixed_list = [1, 2, 3, 'Jessa', 4, 5, 'Kelly', 'Jhon', 6]
print(f"Original mixed list: {mixed_list}")

numbers_only_list = [item for item in mixed_list if isinstance(item, (int, float))]

print(f"List containing only numbers: {numbers_only_list}")

Original mixed list: [1, 2, 3, 'Jessa', 4, 5, 'Kelly', 'Jhon', 6]
List containing only numbers: [1, 2, 3, 4, 5, 6]

In [20]:
# Exercise 15: Access Nested Lists

lst = [[10, 20, 30], [44, 55, 66], [77, 87, 99]]

print(lst[1][1])

55

In [22]:
# Exercise 16: Flatten Nested List

def flatten_list(nested_list):

  flattened = []
  for sublist in nested_list:
    for item in sublist:
      flattened.append(item)
  return flattened

list_of_lists = [[1, 2], [3, 4], [5, 6, 7]]
print(f"Original nested list: {list_of_lists}")

flattened_result = flatten_list(list_of_lists)
print(f"Flattened list (using loops): {flattened_result}")

Original nested list: [[1, 2], [3, 4], [5, 6, 7]]
Flattened list (using loops): [1, 2, 3, 4, 5, 6, 7]

In [23]:
# Exercise 17: Concatenate two lists index-wise

list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

In [24]:
# Exercise 18: Concatenate two lists in the following order

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

res = [x + y for x in list1 for y in list2]
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [25]:
# Exercise 19: Iterate both lists simultaneously

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

In [26]:
# Exercise 20: Add new item to list after a specified item

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(700)
print(list1)

[10, 20, [300, 400, [5000, 6000, 700], 500], 30, 40]

In [27]:
# Exercise 21: Extend nested list by adding the sublist

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [28]:
# Exercise 22: Replace list’s item with new value if found

list1 = [5, 10, 15, 20, 25, 50, 20]

index = list1.index(20)

list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]