In [3]:
# Exercise 1: Perform Basic Set Operations
# Create a Set: Create a set named fruits containing “apple”, “banana”, “mango”, and “orange”.
# Add Element: Add “grape” to the fruits set.
# Remove Element: Remove “banana” from the fruits set.
# Discard Element: Try to discard “mango” from the fruits set.

s = {'apple', 'banana', 'orange', 'mango', 'orange'}
print(s)
s.add('grape')
print(f"add element: {s}")
s.remove('banana')
print(f"remove element: {s}")
s.discard('mango')
print(f"discard element: {s}")

{'mango', 'banana', 'apple', 'orange'}
add element: {'apple', 'orange', 'banana', 'mango', 'grape'}
remove element: {'apple', 'orange', 'mango', 'grape'}
discard element: {'apple', 'orange', 'grape'}

In [4]:
# Exercise 2: Union of Sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(f"union: {set1.union(set2)}")

union: {70, 40, 10, 50, 20, 60, 30}

In [6]:
# Exercise 3: Intersection of Sets

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(f"Intersection : {set1.intersection(set2)}")

Intersection : {40, 50, 30}

In [7]:
# Exercise 4: Difference of Sets

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(f'Difference: {set1.difference(set2)}')

Difference: {10, 20}

In [8]:
# Exercise 5: Symmetric Difference

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(f"Symmetric Difference: {set1.symmetric_difference(set2)}")

Symmetric Difference: {20, 70, 10, 60}

In [9]:
# Exercise 6: Add a list of Elements to a Set

sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)
print(sample_set)

{'Blue', 'Green', 'Yellow', 'Red', 'Orange', 'Black'}

In [10]:
# Exercise 7: Set Difference Update

set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

In [11]:
# Exercise 8: Remove Items From Set Simultaneously

set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{50, 40}

In [12]:
# Exercise 9: Check Subset

subset_set = {10, 20}
main_set = {10, 20, 30, 40}

is_subset = subset_set.issubset(main_set)
print(f"Is {subset_set} a subset of {main_set}? {is_subset}")

Is {10, 20} a subset of {40, 10, 20, 30}? True

In [13]:
# Exercise 10: Check Superset

subset_set = {10, 20}
main_set = {10, 20, 30, 40}

is_subset = subset_set.issuperset(main_set)
print(f"Is {subset_set} a superset of {main_set}? {is_subset}")

Is {10, 20} a superset of {40, 10, 20, 30}? False

In [14]:
# Exercise 11: Set Intersection Check

set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")
  print(set1.intersection(set2))

Two sets have items in common
{10}

In [15]:
# Exercise 12: Set Symmetric Difference Update

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

In [16]:
# Exercise 13: Set Intersection Update

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}

In [17]:
# Exercise 14: Find Common Elements in Two Lists

list1 = [10, 20, 30, 40]
list2 = [30, 40, 50, 60]

set1 = set(list1)
set2 = set(list2)

res = set1.intersection(set2)
print(f"List 1: {list1}")
print(f"List 2: {list2}")
print(f"Common elements using sets: {res}")

List 1: [10, 20, 30, 40]
List 2: [30, 40, 50, 60]
Common elements using sets: {40, 30}

In [18]:
# Exercise 15: Frozen Set

my_list = [10, 20, 30]
frozen_set = frozenset(my_list)
print(f"Original list: {my_list}")
print(f"Created frozen set: {frozen_set}")

Original list: [10, 20, 30]
Created frozen set: frozenset({10, 20, 30})

In [19]:
# Exercise 16: Count Unique Words

sentence = "dog is a simple animal dogs is selfless animal"

snt_lst = sentence.split()
snt_set = set(snt_lst)
print(len(snt_set))

7