In [2]:
# Exercise 1: Perform Basic Tuple Operations
# Create a Tuple: Create a tuple named my_tuple containing the numbers 1, 2, 3, 4, and 5.
# Access Elements: Access and print the third element of my_tuple.
# Tuple Length: Find and print the length of my_tuple

my_tuple = (1, 2, 3, 4, 5)
print(f"my tulpa: {my_tuple}")
print(f"third element: {my_tuple[2]}")
print(f"length: {len(my_tuple)}")

my tulpa: (1, 2, 3, 4, 5)
third element: 3
length: 5

In [3]:
# Exercise 2: Tuple Repetition

original_tuple = ('a', 'b')
result = original_tuple * 3
print(result)

('a', 'b', 'a', 'b', 'a', 'b')

In [5]:
# Exercise 3: Slicing Tuples

numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
res = numbers[3:7]
print(res)

(4, 5, 6, 7)

In [6]:
# Exercise 4: Reverse the tuple

tuple1 = (10, 20, 30, 40, 50)

print(tuple1[::-1])

(50, 40, 30, 20, 10)

In [7]:
# Exercise 5: Access Nested Tuples

tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

print(tuple1[1][1])

20

In [8]:
# Exercise 6: Create a tuple with single item 50

tuple1= (50, )
print(tuple1)

(50,)

In [9]:
# Exercise 7: Unpack the tuple into 4 variables

tuple1 = (10, 20, 30, 40)

a, b, c,  d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [11]:
# Exercise 8: Swap two tuples in Python

tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

In [12]:
# Exercise 9: Copy Specific Elements From Tuple

tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

In [13]:
# Exercise 10: List to Tuple

my_list = [10, 20, 30]

converted_tuple = tuple(my_list)
print(f"Converted list to tuple: {converted_tuple}")

Converted list to tuple: (10, 20, 30)

In [14]:
# Exercise 11: Function Returning Tuple

def get_min_max(numbers):
    if not numbers:
        return (None, None)
    min_val = min(numbers)
    max_val = max(numbers)
    return (min_val, max_val)

my_numbers = [10, 5, 20, 2, 15]
min_max_values = get_min_max(my_numbers)
print(f"Original numbers: {my_numbers}")
print(f"Minimum and maximum values: {min_max_values}")

Original numbers: [10, 5, 20, 2, 15]
Minimum and maximum values: (2, 20)

In [15]:
# Exercise 12: Comparing Tuples

t1 = (1, 2, 3)
t2 = (1, 2, 4)

print(f"Tuple 1: {t1}")
print(f"Tuple 2: {t2}")

if t1 > t2:
    print(f"{t1} is greater than {t2}")
elif t1 < t2:
    print(f"{t1} is less than {t2}")
else:
    print(f"{t1} is equal to {t2}")

Tuple 1: (1, 2, 3)
Tuple 2: (1, 2, 4)
(1, 2, 3) is less than (1, 2, 4)

In [17]:
# Exercise 13: Removing Duplicates from Tuple

my_tuple = (1, 2, 2, 3, 4, 4, 5)

my_set = set(my_tuple)

unique_tuple = tuple(my_set)
print(my_tuple)
print(unique_tuple)

(1, 2, 2, 3, 4, 4, 5)
(1, 2, 3, 4, 5)

In [18]:
# Exercise 14: Filter Tuples

students = [('Alice', 85), ('Bob', 92), ('Charlie', 78), ('David', 95)]
print(f"Original student list: {students}")

high_achievers_loop = []
for student in students:
  if student[1] >= 90:
    high_achievers_loop.append(student)
print(f"Students with scores 90 or above (loop method): {high_achievers_loop}")

Original student list: [('Alice', 85), ('Bob', 92), ('Charlie', 78), ('David', 95)]
Students with scores 90 or above (loop method): [('Bob', 92), ('David', 95)]

In [19]:
# Exercise 15: Map Tuples

t = (1, 2, 3, 4)
mapping = tuple(map(lambda x: x ** 2, t))

print(f"original: {t}")
print(f"mapping: {mapping}")

original: (1, 2, 3, 4)
mapping: (1, 4, 9, 16)

In [20]:
# Exercise 16: Modify Tuple

tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

In [21]:
# Exercise 17: Sort a tuple of tuples by 2nd item

tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
print(f"Original tuple: {tuple1}")

list1 = list(tuple1)

sorted_list = sorted(list1, key=lambda item: item[1])

sorted_tuple = tuple(sorted_list)

print(f"Sorted tuple by 2nd item: {sorted_tuple}")

Original tuple: (('a', 23), ('b', 37), ('c', 11), ('d', 29))
Sorted tuple by 2nd item: (('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [23]:
# Exercise 18: Count Elements

tuple1 = (50, 10, 60, 70, 50)

count = 0
for i in tuple1:
  if i == 50:
    count += 1
print(count)

2

In [24]:
# Exercise 19: Check if all items in the tuple are the same

def check(t):
    return all(i == t[0] for i in t)

tuple1 = (45, 45, 45, 45)
print(check(tuple1))

True