In [2]:
# Exercise 1: Print first 10 natural numbers using while loop

for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
# Exercise 2: Print the pattern

for i in range(1, 6):
  for j in range(1, i+1):
    print(j, end=' ')
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [8]:
# Exercise 3: Calculate sum of all numbers from 1 to a given number

given_number = int(input("enter the number: "))

sum = 0
for num in range(1, given_number + 1):
  sum += num

print(f"sum is: {sum}")

enter the number: 10
sum is: 55

In [9]:
# Exercise 4: Print multiplication table of a given number

numb = int(input('enter number: '))

for i in range(1, 11):
  print(i * numb)

enter number: 2
2
4
6
8
10
12
14
16
18
20

In [12]:
# Exercise 5: Display numbers from a list using a loop
# The number must be divisible by five
# If the number is greater than 150, then skip it and move to the following number
# If the number is greater than 500, then stop the loop

numbers = [12, 75, 150, 180, 145, 525, 50]

for num in numbers:
  if num > 500:
    break
  elif num > 150:
    continue
  elif num % 5 == 0:
    print(num)

75
150
145

In [17]:
# Exercise 6: Count the total number of digits in a number

num = 75869
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

In [18]:
# Exercise 7: Print the pattern

n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [23]:
# Exercise 8: Print list in reverse order using a loop

list1 = [10, 20, 30, 40, 50]
new_list = reversed(list1)
for item in new_list:
    print(item)

50
40
30
20
10

In [24]:
# Exercise 9: Display numbers from -10 to -1 using for loop

for num in range(-10, 0, 1):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [26]:
# Exercise 10: Display a message “Done” after the successful execution of the for loop

for i in range(5):
    print(i)
print("Done")

0
1
2
3
4
Done

In [28]:
# Exercise 11: Print all prime numbers within a range

start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [29]:
# Exercise 12: Display Fibonacci series up to 10 terms

num1, num2 = 0, 1

print("Fibonacci sequence:")
for i in range(10):
    print(num1, end="  ")
    res = num1 + num2
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [32]:
# Exercise 13: Find the factorial of a given number

num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial *= i
    print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

In [33]:
# Exercise 14: Reverse a integer number

num = 76542
rev = str(num)[::-1]

print(rev)

24567

In [34]:
# Exercise 15: Print elements from a given list present at odd index positions

lst = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in range(len(lst)):
  if i % 2 != 0:
    print(lst[i])

20
40
60
80
100

In [36]:
# Exercise 16: Calculate the cube of all numbers from 1 to a given number

num = 6

for i in range(1, num + 1):
  print(f"Current Number is : {i}  and the cube is {i ** 3}")

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

In [42]:
# Exercise 17: Find the sum of a series of a number up to n terms

del sum

num = 2
terms = 5

ls = []
for i in range(1, terms + 1):
    ls.append(str(num) * i)

print(ls)

new_ls = list(map(int, ls))
print(sum(new_ls))

['2', '22', '222', '2222', '22222']
24690

In [43]:
# Exercise 18: Print the following pattern

rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [44]:
# Exercise 19: Print Full Multiplication Table

for i in range(1, 11):
  print('multiplication table of:', i)
  for j in range(1, 11):
    print(f" {i * j}", end="")
  print()

multiplication table of: 1
 1 2 3 4 5 6 7 8 9 10
multiplication table of: 2
 2 4 6 8 10 12 14 16 18 20
multiplication table of: 3
 3 6 9 12 15 18 21 24 27 30
multiplication table of: 4
 4 8 12 16 20 24 28 32 36 40
multiplication table of: 5
 5 10 15 20 25 30 35 40 45 50
multiplication table of: 6
 6 12 18 24 30 36 42 48 54 60
multiplication table of: 7
 7 14 21 28 35 42 49 56 63 70
multiplication table of: 8
 8 16 24 32 40 48 56 64 72 80
multiplication table of: 9
 9 18 27 36 45 54 63 72 81 90
multiplication table of: 10
 10 20 30 40 50 60 70 80 90 100

In [45]:
# Exercise 20: Print the alternate numbers pattern

def print_alternate_pattern(rows):
    num = 1
    for i in range(1, rows + 1):
        if i % 2 != 0:
            for x in range(num, num + i):
              print(x, end=' ')
            print()
        else:
            for y in range(num + i - 1, num - 1, -1):
              print(y, end=' ')
            print()
        num += i

print_alternate_pattern(5)

1
3 2
4 5 6
10 9 8 7
11 12 13 14 15

In [46]:
# Exercise 21: Flatten a nested list using loops

def flatten_list(nested_list):
    flat_list = []
    for element in nested_list:
        if isinstance(element, list):
            for item in element:
                flat_list.append(item)
        else:
            flat_list.append(element)

    return flat_list

nested_list = [1, [2, 3], [4, 5, 6], 7, [8, 9]]
flattened = flatten_list(nested_list)
print("Flattened list:", flattened)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
# Exercise 22: Find largest and smallest digit in a number

def find_largest_smallest_digit(number):

  if number == 0:
    print("The number is zero. Largest and smallest digit is 0.")
    return 0, 0

  s_number = str(abs(number))
  largest_digit = int(s_number[0])
  smallest_digit = int(s_number[0])

  for digit in s_number[1:]:
    digit_int = int(digit)
    if digit_int > largest_digit:
      largest_digit = digit_int
    if digit_int < smallest_digit:
      smallest_digit = digit_int

  return largest_digit, smallest_digit

num1 = 9876543210
largest1, smallest1 = find_largest_smallest_digit(num1)
if largest1 is not None:
  print(f"Largest digit in {num1}: {largest1}")
  print(f"Smallest digit in {num1}: {smallest1}")

num2 = -5082
largest2, smallest2 = find_largest_smallest_digit(num2)
if largest2 is not None:
  print(f"Largest digit in {num2}: {largest2}")
  print(f"Smallest digit in {num2}: {smallest2}")

Largest digit in 9876543210: 9
Smallest digit in 9876543210: 0
Largest digit in -5082: 8
Smallest digit in -5082: 0