In [1]:
# Exercise 1: create a function that takes two arguments, name and age, and prints their values.

def demo(name, age):
    print(name, age)

demo("Ben", 25)

Ben 25

In [2]:
# Exercise 2: Create a function with variable length of arguments

def func1(*args):
  for i in args:
    print(i)

func1(20, 40, 60)

20
40
60

In [3]:
# Exercise 3: Return multiple values from a function

def calculation(a, b):
    add = a + b
    subtract = a - b
    return f"{add}, {subtract}"

res = calculation(40, 10)
print(res)

50, 30

In [4]:
# Exercise 4: Create a function with a default argument

def showEmployee(name, salary= 9000):
  print(f"Name: {name} salary: {salary}")

showEmployee("Ben", 12000)
showEmployee("Jessa")

Name: Ben salary: 12000
Name: Jessa salary: 9000

In [5]:
# Exercise 5: Create an inner function

def outer_fun(a, b):
    square = a ** 2

    def addition(a, b):
        return a + b

    add = addition(a, b)
    return add + 5

result = outer_fun(5, 10)
print(result)

20

In [6]:
# Exercise 6: Create a recursive function

def addition(num):
    if num:
        return num + addition(num - 1)
    else:
        return 0

res = addition(10)
print(res)

55

In [7]:
# Exercise 7: Assign a different name to function and call it through the new name

def display_student(name, age):
    print(name, age)

display_student("Emma", 26)

show_student = display_student
show_student("Emma", 26)

Emma 26
Emma 26

In [8]:
# Exercise 8: Generate a Python list of all the even numbers between 4 to 30

def even_range(num1, num2):
  ls = []
  for i in range(num1, num2 + 1):
    if i % 2 == 0:
      ls.append(i)
  print(ls)

even_range(4, 30)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [10]:
# Exercise 9: Find the largest item from list

x = [4, 6, 8, 24, 12, 2]
print(max(x))

24

In [11]:
# Exercise 10: Call Function using both positional and keyword arguments

def describe_pet(animal_type, pet_name):
  print(f"\nI have a {animal_type} named {pet_name}.")

describe_pet('hamster', 'Harry')
describe_pet('dog', 'Lucy')

describe_pet(animal_type='cat', pet_name='Whiskers')
describe_pet(pet_name='Buddy', animal_type='goldfish')

I have a hamster named Harry.

I have a dog named Lucy.

I have a cat named Whiskers.

I have a goldfish named Buddy.

In [12]:
# Exercise 11: Create a function with keyword arguments

def print_info(**kwargs):
    if kwargs:
        print("\n--- Information ---")
        for key, value in kwargs.items():
            print(f"{key}: {value}")
    else:
        print("\nNo information provided.")

print_info(name="Alice", age=30, city="New York")
print_info(job="Engineer", salary=75000)
print_info(country="USA", state="California", zip_code="90210")
print_info()

--- Information ---
name: Alice
age: 30
city: New York

--- Information ---
job: Engineer
salary: 75000

--- Information ---
country: USA
state: California
zip_code: 90210

No information provided.

In [13]:
# Exercise 12: Modifies global variable

def factorial_recursive(n):
    if n < 0:
        raise ValueError("Factorial is not defined for negative numbers")
    elif n == 0:
        return 1
    else:
        return n * factorial_recursive(n - 1)

number = 5
result = factorial_recursive(number)
print(f"The factorial of {number} is {result}")

The factorial of 5 is 120

In [14]:
# Exercise 14: Create a lambda function that squares a given number

squares = lambda x: x ** 2

squares(5)

25

In [16]:
# Exercise 15: Use a lambda with the filter() function to get all even numbers from a list

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

res = filter(lambda x: x % 2 == 0, numbers)

print(f"The even numbers in the list are: {res}")

The even numbers in the list are: <filter object at 0x7f98cd00a170>

In [17]:
# Exercise 16: Use a lambda with the map() function to double each element in a list

numbers = [1, 2, 3, 4, 5]

res = list(map(lambda x: x * 2, numbers))

print(f"The doubled numbers are: {res}")

The doubled numbers are: [2, 4, 6, 8, 10]

In [18]:
# Exercise 17: Use a lambda with the sorted() function to sort a list of tuples based on the second element

data = [('apple', 5), ('banana', 2), ('cherry', 8), ('date', 1)]

sorted_data = sorted(data, key=lambda item: item[1])

print(f"The sorted list of tuples based on the second element is: {sorted_data}")

The sorted list of tuples based on the second element is: [('date', 1), ('banana', 2), ('apple', 5), ('cherry', 8)]

In [19]:
# Exercise 18: Create Higher-Order Function

def apply_operation(func, x, y):
  return func(x, y)

def add(a, b):
  return a + b

result_add = apply_operation(add, 5, 3)
print(f"Result of addition: {result_add}")

subtract = lambda a, b: a - b
result_subtract = apply_operation(subtract, 10, 4)
print(f"Result of subtraction: {result_subtract}")

multiply = lambda a, b: a * b
result_multiply = apply_operation(multiply, 2, 6)
print(f"Result of multiplication: {result_multiply}")

Result of addition: 8
Result of subtraction: 6
Result of multiplication: 12