In [2]:
# Exercise 1: List Creation using two lists
# odd-indexed elements from the first list and even-indexed elements from the second

l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

res = []

for i in range(len(l1)):
  if i % 2 != 0:
    res.append(l1[i])

for j in range(len(l2)):
  if j % 2 == 0:
    res.append(l2[j])

print(res)

[6, 12, 18, 4, 12, 20, 28]

In [6]:
# Exercise 2: Remove and add item in a list
# remove the item present at index 4
# add it to the 2nd position
# at the end of the list.

list1 = [54, 44, 27, 79, 91, 41]

list1.pop(4)
print(f"List After removing element at index 4: {list1}")

list1.insert(2, 91)
print(f"List after Adding element at index 2: {list1}")

list1.append(11)
print(f"List after Adding element at last: {list1}")

List After removing element at index 4: [54, 44, 27, 79, 41]
List after Adding element at index 2: [54, 44, 91, 27, 79, 41]
List after Adding element at last: [54, 44, 91, 27, 79, 41, 11]

In [7]:
# Exercise 3: Slice list into 3 equal chunks and reverse each chunk

sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
print("Original list ", sample_list)

length = len(sample_list)
chunk_size = int(length / 3)
start = 0
end = chunk_size

for i in range(3):
    indexes = slice(start, end)

    list_chunk = sample_list[indexes]
    print("Chunk ", i, list_chunk)

    print("After reversing it ", list(reversed(list_chunk)))

    start = end
    end += chunk_size

Original list  [11, 45, 8, 23, 14, 12, 78, 45, 89]
Chunk  0 [11, 45, 8]
After reversing it  [8, 45, 11]
Chunk  1 [23, 14, 12]
After reversing it  [12, 14, 23]
Chunk  2 [78, 45, 89]
After reversing it  [89, 45, 78]

In [8]:
# Exercise 4: Count the occurrence of each element from a list

from collections import Counter

sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

print(Counter(sample_list))

Counter({45: 3, 11: 2, 23: 2, 8: 1, 89: 1})

In [9]:
# Exercise 5: Paired Elements from Two Lists as a Set

lst1 = [2, 3, 4, 5, 6, 7, 8]
lst2 = [4, 9, 16, 25, 36, 49, 64]

result = zip(lst1, lst2)
result_set = set(result)
print(result_set)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

In [10]:
# Exercise 6: Set Intersection and Removal

first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

print("First Set ", first_set)
print("Second Set ", second_set)

intersection = first_set.intersection(second_set)
print("Intersection is ", intersection)
for item in intersection:
    first_set.remove(item)

print("First Set after removing common element ", first_set)

First Set  {65, 83, 23, 57, 42, 29, 78}
Second Set  {48, 67, 83, 73, 43, 29, 57}
Intersection is  {57, 83, 29}
First Set after removing common element  {65, 23, 42, 78}

In [11]:
# Exercise 7: Subset or Superset of another set

first_set = {57, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

print("First Set ", first_set)
print("Second Set ", second_set)

print("First set is subset of second set -", first_set.issubset(second_set))
print("Second set is subset of First set - ", second_set.issubset(first_set))

print("First set is Super set of second set - ", first_set.issuperset(second_set))
print("Second set is Super set of First set - ", second_set.issuperset(first_set))

if first_set.issubset(second_set):
    first_set.clear()

if second_set.issubset(first_set):
    second_set.clear()

print("First Set ", first_set)
print("Second Set ", second_set)

First Set  {57, 83, 29}
Second Set  {48, 67, 83, 73, 43, 29, 57}
First set is subset of second set - True
Second set is subset of First set -  False
First set is Super set of second set -  False
Second set is Super set of First set -  True
First Set  set()
Second Set  {48, 67, 83, 73, 43, 29, 57}

In [12]:
# Exercise 8: Filter List Against Dictionary Values

roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon': 47, 'Emma': 69, 'Kelly': 76, 'Jason': 97}

print("List:", roll_number)
print("Dictionary:", sample_dict)

roll_number[:] = [item for item in roll_number if item in sample_dict.values()]
print("after removing unwanted elements from list:", roll_number)

List: [47, 64, 69, 37, 76, 83, 95, 97]
Dictionary: {'Jhon': 47, 'Emma': 69, 'Kelly': 76, 'Jason': 97}
after removing unwanted elements from list: [47, 69, 76, 97]

In [13]:
# Exercise 9: Extract Unique Dictionary Values to List

speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53,
         'july': 54, 'Aug': 44, 'Sept': 54}

print("Dictionary's values - ", speed.values())

speed_list = list()

for val in speed.values():
    if val not in speed_list:
        speed_list.append(val)
print("unique list", speed_list)

Dictionary's values -  dict_values([47, 52, 47, 44, 52, 53, 54, 44, 54])
unique list [47, 52, 44, 53, 54]

In [14]:
# Exercise 10: remove duplicates from a list

sample_list = [87, 52, 44, 53, 54, 87, 52, 53]

print("Original list", sample_list)

sample_list = list(set(sample_list))
print("unique list", sample_list)

t = tuple(sample_list)
print("tuple ", t)

print("Minimum number is: ", min(t))
print("Maximum number is: ", max(t))

Original list [87, 52, 44, 53, 54, 87, 52, 53]
unique list [44, 52, 53, 54, 87]
tuple  (44, 52, 53, 54, 87)
Minimum number is:  44
Maximum number is:  87