In [2]:
# Exercise 1: Perform basic dictionary operations
# Add New Key-Value Pair: Add a new key-value pair, 'profession': 'Doctor', to the dictionary and print the updated dictionary.
# Modify Value: Change the value of the age key to 40 in the dictionary and print the updated dictionary.
# Access Key: Print the value associated with the city key.


my_dict = {'name': 'Alice', 'age': 35, 'city': 'New York'}

my_dict['profession'] = 'Doctor'
my_dict['age'] = 40
print(f'city: {my_dict['city']}')
print(my_dict)

city: New York
{'name': 'Alice', 'age': 40, 'city': 'New York', 'profession': 'Doctor'}

In [7]:
# Exercise 2: Perform dictionary operations
# Remove Key-Value Pair : Remove the profession key-value pair from the dictionary.
# Get Items (Key-Value Pairs): Print all key-value pairs (items) in the dictionary.
# Check if Key Exists in the dictionary


my_dict = {'name': 'Alice', 'age': 35, 'city': 'New York', 'profession': 'Doctor'}

print(f"Original dictionary: {my_dict}")

del my_dict['profession']
print(f"Updated dictionary after removing 'profession': {my_dict}")

print("Printing all key-value pairs:")
for key, value in my_dict.items():
  print(f"{key}: {value}")

def check_key_exists(dictionary, key_to_check):
  return key_to_check in dictionary

key1 = 'age'
print(f"Does '{key1}' exist? {check_key_exists(my_dict, key1)}")

Original dictionary: {'name': 'Alice', 'age': 35, 'city': 'New York', 'profession': 'Doctor'}
Updated dictionary after removing 'profession': {'name': 'Alice', 'age': 35, 'city': 'New York'}
Printing all key-value pairs:
name: Alice
age: 35
city: New York
Does 'age' exist? True

In [8]:
# Exercise 3: Dictionary from Lists

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

res_dict = dict(zip(keys, values))
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [9]:
# Exercise 4: Clear Dictionary

my_dict = {'name': 'Alice', 'age': 35, 'city': 'New York'}
print(f"dictionary: {my_dict}")

my_dict.clear()
print(f"dictionary after removing all items: {my_dict}")

dictionary: {'name': 'Alice', 'age': 35, 'city': 'New York'}
dictionary after removing all items: {}

In [10]:
# Exercise 5: Merge two Python dictionaries into one

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [12]:
# Exercise 6: Count Character Frequencies

from collections import Counter

string1 = 'Jessa'

ls = [string1[i] for i in range(len(string1))]

print(Counter(ls))

Counter({'s': 2, 'J': 1, 'e': 1, 'a': 1})

In [15]:
# Exercise 7: Access Nested Dictionary

data = {'person': {'name': 'Alice', 'age': 30}}

print(f"{data['person']['name']}'s age is {data['person']['age']}")

Alice's age is 30

In [16]:
# Exercise 8: Print the value of key ‘history’ from nested dict

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

print(sampleDict['class']['student']['marks']['history'])

80

In [17]:
# Exercise 9: Modify Nested Dictionary

nested_student_dict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

print(f"Nested dictionary: {nested_student_dict}")
nested_student_dict['class']['student']['name'] = 'Jessa'

print(f"Dict after modification: {nested_student_dict}")

Nested dictionary: {'class': {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}}}
Dict after modification: {'class': {'student': {'name': 'Jessa', 'marks': {'physics': 70, 'history': 80}}}}

In [18]:
# Exercise 10: Initialize dictionary with default values

employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

res = dict.fromkeys(employees, defaults)
print(res)

print(res["Kelly"])

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}
{'designation': 'Developer', 'salary': 8000}

In [19]:
# Exercise 11: Create a dictionary by extracting the keys from a given dictionary

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york" }

keys = ["name", "salary"]

newDict = {k: sampleDict[k] for k in keys}
print(newDict)

{'name': 'Kelly', 'salary': 8000}

In [20]:
# Exercise 12: Delete a list of keys from a dictionary

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
keys = ["name", "salary"]

for k in keys:
    sample_dict.pop(k)
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [22]:
# Exercise 13: Check if a value exists in a dictionary

dic = {'a': 100, 'b': 200, 'c': 300}

if 200 in dic.values():
  print("200 is in dict")
else:
  print("nop its not there")

200 is in dict

In [23]:
# Exercise 14: Rename key of a dictionary

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [24]:
# Exercise 15: Get the key of a minimum value

sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
print(min(sample_dict, key=sample_dict.get))

Math

In [25]:
# Exercise 16: Change value of a key in a nested dictionary

sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500}
}

sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [26]:
# Exercise 17: Invert Dictionary

def invert_dictionary(input_dict):
  inverted_dict = {}
  for key, value in input_dict.items():
    inverted_dict[value] = key
  return inverted_dict

original_dict1 = {'a': 1, 'b': 2, 'c': 3}

print(f"Original dictionary 1: {original_dict1}")
print(f"Inverted dictionary 1: {invert_dictionary(original_dict1)}")

Original dictionary 1: {'a': 1, 'b': 2, 'c': 3}
Inverted dictionary 1: {1: 'a', 2: 'b', 3: 'c'}

In [28]:
# Exercise 18: Sort Dictionary by Keys

from collections import OrderedDict

my_dict = {'apple': 3, 'zebra': 1, 'banana': 2, 'cat': 4}
print(f"Original dictionary: {my_dict}")

print("\nSorted by keys (as OrderedDict):")
sorted_by_key_ordered_dict = OrderedDict(sorted(my_dict.items()))
print(sorted_by_key_ordered_dict)

Original dictionary: {'apple': 3, 'zebra': 1, 'banana': 2, 'cat': 4}

Sorted by keys (as OrderedDict):
OrderedDict({'apple': 3, 'banana': 2, 'cat': 4, 'zebra': 1})

In [29]:
# Exercise 19: Sort Dictionary by Values

from collections import OrderedDict

my_dict = {'Jessa': 3, 'Kelly': 1, 'Jon': 2, 'Kerry': 4, 'Joy': 1}
print(f"Original dictionary: {my_dict}")

# Method 1: Create an OrderedDict sorted by values
print("\nSorted by values (as OrderedDict):")
sorted_by_value_ordered_dict = OrderedDict(my_dict)
print(sorted_by_value_ordered_dict)

Original dictionary: {'Jessa': 3, 'Kelly': 1, 'Jon': 2, 'Kerry': 4, 'Joy': 1}

Sorted by values (as OrderedDict):
OrderedDict({'Jessa': 3, 'Kelly': 1, 'Jon': 2, 'Kerry': 4, 'Joy': 1})

In [30]:
# Exercise 20: Check if All Values are Unique

def are_all_values_unique(input_dict):
  all_values = list(input_dict.values())

  unique_values_set = set(all_values)

  return len(all_values) == len(unique_values_set)

dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'x': 10, 'y': 20, 'z': 10}
dict3 = {}

print(f"Dictionary: {dict1} -> All values unique? {are_all_values_unique(dict1)}")
print(f"Dictionary: {dict2} -> All values unique? {are_all_values_unique(dict2)}")
print(f"Dictionary: {dict3} -> All values unique? {are_all_values_unique(dict3)}")

Dictionary: {'a': 1, 'b': 2, 'c': 3} -> All values unique? True
Dictionary: {'x': 10, 'y': 20, 'z': 10} -> All values unique? False
Dictionary: {} -> All values unique? True